/* On screens that are 600px or less */
@media screen and (max-width: 600px) {

    .container-sidebar{
        display: none;
    }
    .main-content {
        min-height: 100vh;
        margin-left: 0;
        padding: 0rem;
        background: #0C365A;
        color: #fff;
    }
    .top-section{
        padding: 1rem;
    }.card-body {
        color: #000;
    }
    
    .mobile-logo{
        display: block;
    }

    .modalbtn {
        background: transparent !important;
        border: none;
    }
    .tab-container {
        margin-top: 0 !important;
    }
    .tab-container .card {
        background: transparent;
        padding: 0;
    }
    .white-card {
        box-shadow: none;
        padding: 30px 0;
    }
    .tab-container .card-header .nav-pills .nav-link.active, .tab-container .card-header .nav-pills .nav-link {
        color: #fff;
    }
    .action-btn .navbar-brand p {
        font-size: 13px;
    }
    .navbar {
        padding: 0;
    }
    .card-header {
        padding: 0 2rem !important;
    }
    .green-card {
        margin: -30px 20px 0 20px;
    }
    .showbtn {
        margin: 0px 23px 0px 23px;
        background: #fff;
        padding: 10px 15px 54px 15px;
        border-radius: 10px 10px 0 0;
    }.showbtn p {
        margin: 0;
        float: right;
    }
    .card-slider .carousel-indicators {
        bottom: 140px;
    }
    .action-btn {
        border-radius: 25px 20px 0px 0;
    }
    .right-card-main {
        background: #fff;
        padding: 20px 20px;
    }
    .main-content .row{
        margin: 0px;
    }
    .main-content .row > div{
        padding: 0px;
    }

    .card-text {
        color: #fff;
    }

    /* Mobile Nev */
    
    .mobile-nev{
        display: block;
        background: #fff;
        box-shadow: 1px 1px 5px 1px rgb(176 175 175 / 75%);
        -webkit-box-shadow: 1px 1px 5px 1px rgb(221 221 221 / 75%);
        -moz-box-shadow: 1px 1px 5px 1px rgba(176, 175, 175, 0.75);
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        height: 70px;
        padding: 6px;
    }
    .mobile-nev .navbar-brand{        
        width: 20%;
        margin: 0;
    }
    .mobile-nev .navbar-brand span{    
        color: #DDDDDD;
        font-size: 12px;
    }
    .mobile-nev .navbar-brand.active span{    
        color: #01D167;
    }
    .all-transaction {
        margin-top: -5px;
        border-radius: 0;
    }
  }
  